.head1 {
    background-image: url('../../../accetss/home/istockphoto-1390560381-170667a1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    height: 200%;
    text-align: center;
    width: auto;
}

.ttt {
    text-align: center;
    justify-content: center;
    font-size: 18px;

}

.hh2 {
    background-color: black;
    font-size: 24px;
    color: whitesmoke;
    text-align: center;

}

.hh4 {
    padding: 20px;
    text-align: left;
}

.ii:hover {

    transition: 1s;
    transform: scale(1.1)
}

.ct1:hover {
    width: 510px;
    height: 280px;
    border: 1px solid blue;
    box-sizing: border-box;
}

.t1 {
    padding-top: 50px;
    padding-bottom: 0;
}

.tt {
    font-weight: 600;
    font-size: 18px;

}

.h0 {
    background-color: rgb(226, 226, 226);
}

.ull {
    text-align: center;

}

.ul1,
.ul2,
.ul3 {
    color: black;

}

.ul1:hover {
    color: black;

    background-color: white;
}

.ul2:hover {
    color: white;

    background-color: gray;
}

.hh12{
    padding: 20px;
}
.ul3:hover {
    color: white;

    background-color: rgb(5, 5, 5);
}


.box1 {
    border: solid;
    border-width: thin;
    background-color: white;
   
}

.hh10 {
    background-color: rgb(216, 215, 215);
    width: 90%;
}

.card1cc {
    background-color: rgb(216, 215, 215);
}

.cc0 {
    background-color: rgb(56, 56, 57);
    font-size: 30px;
    padding: 10px;
    color: white;

}

.cca {
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 30px;
}

.ccimg:hover {
    transition: 1s;
    transform: scale(0.9);
}

.portfolio {
    background-image: url('../../../accetss/home/images.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   
    /* padding: 60px 0;  */

  }

.hh13 {
    background-color: rgb(190, 189, 189);
    padding: 20px;
}

.atag {
    text-decoration: none;
    color: black;

}

.atag:hover {
    color: blue;
}
.card-title {
    font-weight: bold; 
  }
  
  .card {
    border: none; 
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card-text {
    margin-bottom: 0; 
  }
  .fontfamily {
    font-family: 'Arial', sans-serif; 
  }
  
  .hh13 {
    padding: 20px; 
  }
  
  .atag {
    text-decoration: none;
    color: #000;
  }
  @media (max-width: 992px) {
    .hh13 .col-lg-4 {
      margin-bottom: 30px; /* Adjust spacing for smaller screens */
    }
  }
  
  @media (max-width: 768px) {
    .hh13 {
      flex-direction: column;
      align-items: center;
    }
  
    .col-lg-4 {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }
  
    .offset-lg-1 {
      margin-left: 0;
    }
  }