
.ref1{
    background-color: lightgray;
    padding: 1%;
} 
.ref2{
    display: flex;
}
.fm{
    border: gray solid;
}
.inp{
    display: flex;
}
.textal{
    font-size: 20px;
}
.ref{
    font-weight: bold;
    font-size: 25px;
    padding-top: 30px;
}
.bt{
    font-size: 20px;

}

/* re list */

.t1{
    font-size: 20px;
}
.btt{
    color: black;
}

/* relogout */
.relog{
    padding: 10%;
}
.rel1,.rel2{
    padding: 4%;
}
/* cibil */

.cl1{
    display: flex;

}
.cl2{
    font-size: 22px;
    font-weight: bold;
}

.ref5{
    padding-left: 60px;
    padding-right: 60px;
}
.ree{
    padding: 1%;
}

/* registration */

.refmain{
    border: gray solid;
    padding-right: 8%;
}
.displays{
    display: flex;
    padding: 2%;
}