.re11{
    border: gray solid;
    margin-top: 5%;
    margin-left: 5%;
   
}
.re1 {
    background-color: lightgray;
    text-align: left;
    padding: 2%;
}
.re2{
    font-weight:bold;
    font-size: 27px;
    background-color: white;
    padding: 1%;
}
.re3 {
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 3%;
}

.re3:hover {
    background-color: white;

}